name: build

on:
  push:
    branches: [main]
    paths: [kaniko/**]
  pull_request:
    branches: [main]
    paths: [kaniko/**]
  workflow_dispatch:

env:
  IMAGE: ${{ github.repository }}
  CONTEXT: kaniko

jobs:
  kaniko:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: build
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/repo \
            gcr.io/kaniko-project/executor:latest \
            --context=/repo/${{ env.CONTEXT }} \
            --dockerfile=/repo/${{ env.CONTEXT }}/Dockerfile \
            --no-push

  podman:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: build
        run: podman build --tag ${{ env.IMAGE }}:podman-${{ github.sha }} ${{ env.CONTEXT }}

  buildah:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: build
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE }}
          tags: buildah-${{ github.sha }}
          context: ./${{ env.CONTEXT }}
          containerfiles: ./${{ env.CONTEXT }}/Dockerfile
